body {
    background-color:#333
}

div {
    margin-top:200px
}

h1 {
    color:#fff;
    font-family:'Lato',sans-serif;
    font-size:100px;
    text-align:center;
    margin:0
}

h2 {
    color:#fff;
    font-family:'Lato',sans-serif;
    font-size:50px;
    text-align:center;
    margin:0
}

h3 {
    color:#fff;
    font-family:'Lato',sans-serif;
    font-size:19px;
    text-align:center;
    -webkit-font-smoothing:antialiased
}

a {
    color:#fff;
    text-decoration:none;
    margin-left:50px;
    margin-right:50px;
    letter-spacing: 5px;
    font-weight: 50;
}

@-webkit-keyframes hvr-hang {
0% {
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
}

50% {
    -webkit-transform:translateY(4px);
    transform:translateY(4px)
}

100% {
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
}
}

@keyframes hvr-hang {
0% {
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
}

50% {
    -webkit-transform:translateY(4px);
    transform:translateY(4px)
}

100% {
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
}
}

@-webkit-keyframes hvr-hang-sink {
100% {
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
}
}

@keyframes hvr-hang-sink {
100% {
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
}
}

.hvr-hang {
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -moz-osx-font-smoothing:grayscale
}

.hvr-hang:hover,.hvr-hang:focus,.hvr-hang:active {
    -webkit-animation-name:hvr-hang-sink,hvr-hang;
    animation-name:hvr-hang-sink,hvr-hang;
    -webkit-animation-duration:.3s,1.5s;
    animation-duration:.3s,1.5s;
    -webkit-animation-delay:0s,.3s;
    animation-delay:0s,.3s;
    -webkit-animation-timing-function:ease-out,ease-in-out;
    animation-timing-function:ease-out,ease-in-out;
    -webkit-animation-iteration-count:1,infinite;
    animation-iteration-count:1,infinite;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-direction:normal,alternate;
    animation-direction:normal,alternate
}
