html,
body,
.full-screen {
  height: 100%;
  margin: 0;
  padding:0;

}
body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto Slab', serif;
}
.full-screen {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.full-screen > * {
  flex: 0 0 auto;
  overflow: scroll;
}

.full-screen > .main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}
.full-screen > .main > * {
  flex: 0 0 auto;
  flex-basis: 100vw;
}



.full-screen .outer {
      -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 2rem;
    line-height: 2.5rem;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.full-screen .inner {
  flex:  0 0 auto;
}

.full-screen #banner {
  height: 100vh;
  background-image: url(overlay.png), linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-2048.jpg);
  background-repeat: repeat,  repeat, no-repeat,  no-repeat;
  background-size: 100px 100px, 5px 5px, cover,  cover;
  color: white;
}

.full-screen #banner > a {
  position: absolute;
  color: white;
  text-decoration: none;
  bottom: 25px;
}

.full-screen #about .inner {
}

.full-screen #banner div {
  padding: 25px;
}

.full-screen #banner p  {
  text-align: left;
  font-size: 1.5rem;
  line-height: 2rem;
}



.inner  a {
    color:tomato;
    white-space: nowrap;
    text-decoration: underline dashed  black;
    text-decoration-skip:ink;
}

.inner a:visited {
    color:tomato;
    text-decoration: underline dashed black;
    text-decoration-skip:ink; 
}

/******************/
/*  HAMBURGER start */
/******************/

#menuToggle {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 26px;
  height: 25px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle .burgers {
    margin:15px;
}
#menuToggle span
{
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(1px, 0px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(2px, 0px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100vw;
    margin: -15px 0 0 -15px;  
    padding-left: 75px;
    top: 0;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a {
    text-decoration: none;
}

#menu li
{
  padding: 10px 0;
  margin-right: 25px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  display: inline-block
}

/*
 * And let's slide it in from the top
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/******************/
/*  HAMBURGER END */
/******************/

a[ id= "home" ]:target ~ div.full-screen .outer{
    -webkit-transform: translateX(0);
    transform: translateX( 0 );
}

a[ id= "about" ]:target ~ div.full-screen .outer{
    -webkit-transform: translateX( -100vw );
    transform: translateX( -100vw );
}

  a[ id="me"]:target ~div.full-screen .outer {
    -webkit-transform: translateX( -100vw );
    transform: translateX( -100vw );
  }

a[ id= "projects" ]:target ~ div.full-screen .outer{
    -webkit-transform: translateX( -200vw );
    transform: translateX( -200vw );
}

a[ id= "contact" ]:target ~ div.full-screen .outer{
    -webkit-transform: translateX( -300vw );
    transform: translateX( -300vw );
}

a[id="about"]:target ~ div.full-screen nav#primary-nav span {
  background: white;
}