/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body, .full-screen {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto Slab', serif;
}

.full-screen {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

#site {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: max-content;
  position: fixed;
  display: inline-flex;
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Setting up primary objects */
.primary {
  animation: floating 3s ease infinite;
  color:tomato!important;
}
@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 10px); }
  to   { transform: translate(0, 0px); }    
}



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******************/
/*  HAMBURGER start */
/******************/

#menuToggle {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  input {
    display: block;
    width: 26px;
    height: 25px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
    /*
    * Just a quick hamburger
    */
  span {
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   
  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 0px);
    background: white;
    &:nth-last-child(3) { /* But let's hide the middle one */
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    &:nth-last-child(2) { /* Ohyeah and the last one should go the other direction */
      transform: rotate(-45deg) translate(2px, 0px);
    }
  }
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  width: 100vw;
  margin: -15px 0 0 -15px;
  padding-left: 75px;
  top: 0;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  a {
    text-decoration: none;
  }
  li {
    padding: 10px 0;
    margin-right: 25px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    display: inline-block;
  }
}

/*
 * And let's slide it in from the top
 */

#menuToggle input:checked ~ ul {
  transform: none;
}

/******************/
/*  HAMBURGER END */
/******************/

.full-screen {
  > {
    * {
      flex: 0 0 auto;
      overflow: scroll;
    }
    .main {
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
      align-self: flex-start;
      > * {
        flex: 0 0 auto;
        flex-basis: 100vw;
      }
    }
  }
  .outer {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 2rem;
    line-height: 2.5rem;
    justify-content: center;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
  }




  .inner {
    flex: 0 0 auto;
    position: relative;
    align-items: center;
  
      .title {
      margin-top: 50px;
      font-size: 2rem;
      padding: 0 0 25px 0!important;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid black;
    }
    a {
      color: tomato;
      white-space: nowrap;
      text-decoration: underline dashed  black;
      text-decoration-skip: ink;
      &:visited {
      color: tomato;
      text-decoration: underline dashed black;
      text-decoration-skip: ink;
      }
    }
  }
  .controls {
    position: absolute;
    text-decoration: none;
    color: black;

    &.up {
      text-align: center;
      top: 5px;
    }
    &.right {
      right:25px;
    }
    &.left {
      left:25px;
    }
    &.down {
      bottom:25px;
      text-align: center;
    }
  }
  .vertical {
    justify-content: flex-start;
    .inner {
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      flex-basis: 100%;
      width: 100vw;
      div {
        padding:50px;
      }
    }
  }

  #home {
    #hello {
      div {
        justify-content: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }


  #about {

    #banner {
      /*
      background-repeat: repeat, no-repeat,  no-repeat;
      background-size: 100px 100px, cover,  cover;
      background-position: top left, center center,  top center; */
      background-position: center center;
      background-size: cover;
      color: white;
      height: 100%;
      width: 100vw;
      justify-content: center;
      background-image: url(img/bg-3072.jpg);
      /*
      @media screen and (min-width: 641px), (min-height: 428px){
        background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-1280.jpg);
      }
      @media screen and (min-width: 1281px), (min-height: 854px) {
        background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-1920.jpg);
      } 
      @media screen and (min-width: 1921px), (min-height: 1281px) {
        background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-3072.jpg);
      }
      @media screen and (min-width: 3071px ), (min-height: 2049px) {
        background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-6048.jpg);
      } */
      .controls {
        text-shadow: 0 0 5px black;
      }
      .controls.left {
        color: white;
        transform: rotate(45deg);
      }

    }

    #me {
      .controls {
        color: black;
      }
      .life-story {
        padding:25px 50px 50px 50px;
        font-size: 1.3rem;
        line-height: 1.5rem;
        max-width: 550px;
        flex-grow:1; 
      }
    }
  }

  #projects {

    #portfolio {

      .work {
        overflow-y: scroll;
        padding: 0;
        .showcase {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: center;
          padding:25px;
  
  
          .showcase-item {
            max-width: 600px;
            max-height: 400px;
            min-width: 300px;
            min-height: 200px;
            background-size: 200%;
            background-position: 0 center;
            border:1px black solid;
            padding:0;
            position: relative;
            line-height: 0;
            margin: 10px;
            display: flex;
  
            span {
              height: 0;
              opacity: 0;
              background-position: 100% center;
              background-size:200%;
              top: 0; left: 0; bottom: 0; right: 0;
              position: absolute;
              align-items: center;
              justify-content: center;
            }
  
            a {
  
              font-size: 1.2rem;
              color: white;
              height: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              opacity: 0;
              margin-top:50px;
            }
  
            &:hover span, &:active span {
              opacity: 1;
              height: auto;
              transition: opacity 0.5s ease, height 0.5s ease;
            }
            &:hover a, &:active a {
              animation: grow 0.001ms forwards;
              margin-top: 0;
  
            }
  
            @keyframes grow {
              from { height:    0; 
                     opacity:   0; }
              50%  { height: 100%; 
                     opacity:   1; }
              to   { height: 100%; 
                     opacity:   1; }
            }
            &#bark {
              background-image: url(img/bark.jpg);
              span {
                background-image: url(img/bark.jpg);
              }
            }
            &#x {
              background-image: url(img/x.jpg);
              background-position:0 bottom;
  
              span {
                background-image:url(img/x.jpg);
                background-position: 100% bottom;
                color: black;
              } 
            }
            &#chloe {
              background-image: url(img/chloe.jpg);
              span {
                background-image: url(img/chloe.jpg);
              }
            }
            &#tic {
              background-image: url(img/tic.jpg);
              span {
                background-image: url(img/tic.jpg);
              }
            }
            &#cp {
              background-image: url(img/cp.jpg);
              span {
                background-image: url(img/cp.jpg);
              }
            }
            &#aa {
              background-image: url(img/aa.jpg);
              span {
                background-image: url(img/aa.jpg);
              }
            }
            &#parkwoods {
              background-image: url(img/parkwoods.jpg);
              span {
                background-image: url(img/parkwoods.jpg);
              }
            }
          }
        }

        .in-touch {
          font-size: 1.3rem;
          text-align: center;
        }
      }


      .controls.right {
        transform:rotate(-30deg);
        top: 50px;
        color: black;
      }


    }
  }

  #contact {
    #sms {
      #hi {
        justify-content: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      } 

      .controls.left {
        bottom: 25px;
        left:40px;
        transform: rotate(-60deg);
        color:black;
      }
    }
  }
}



/* ==========================================================================


Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
  &.focusable {
    &:active, &:focus {
      clip: auto;
      clip-path: none;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
      white-space: inherit;
    }
  }
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix {
  &:before {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  &:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both;
  }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
    &:before, &:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster:
         http://www.sanbeiji.com/archives/953 */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a {
    &[href^="#"]:after, &[href^="javascript:"]:after {
      content: "";
    }
  }
  pre {
    white-space: pre-wrap !important;
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Scrolling
   ========================================================================== */

:not(:target) div.full-screen .outer {
  transform: translate(-100vw, -100%);
}

a {
  &[id="home"]:target ~ div.full-screen .outer {
    transform:translate(-100vw, -100%);
  }

  &[id="about"]:target ~ div.full-screen .outer {
    transform: translate(-300vw, -200%);
  }
  &[id="about"]:target ~ div.full-screen nav#primary-nav span {
    background: white;
  }
  &[id="me"]:target ~ div.full-screen .outer {
    transform: translate(-300vw, -300%);
  }

  &[id="projects"]:target ~ div.full-screen .outer {
    transform: translate(0, -400%);
  }

  &[id="contact"]:target ~ div.full-screen .outer {
    transform: translate(-200vw, 0);
  }



}