/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, body, .full-screen {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto Slab', serif; }

.full-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

#site {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: fixed;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* Setting up primary objects */
.primary {
  -webkit-animation: floating 3s ease infinite;
          animation: floating 3s ease infinite;
  color: tomato !important; }

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/******************/
/*  HAMBURGER start */
/******************/
#menuToggle {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  /*
  * Just a quick hamburger
  */
  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */ }
  #menuToggle input {
    display: block;
    width: 26px;
    height: 25px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  #menuToggle span {
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    #menuToggle span:first-child {
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%; }
    #menuToggle span:nth-last-child(2) {
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(1px, 0px);
            transform: rotate(45deg) translate(1px, 0px);
    background: white; }
    #menuToggle input:checked ~ span:nth-last-child(3) {
      /* But let's hide the middle one */
      opacity: 0;
      -webkit-transform: rotate(0deg) scale(0.2, 0.2);
              transform: rotate(0deg) scale(0.2, 0.2); }
    #menuToggle input:checked ~ span:nth-last-child(2) {
      /* Ohyeah and the last one should go the other direction */
      -webkit-transform: rotate(-45deg) translate(2px, 0px);
              transform: rotate(-45deg) translate(2px, 0px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100vw;
  margin: -15px 0 0 -15px;
  padding-left: 75px;
  top: 0;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  #menu a {
    text-decoration: none; }
  #menu li {
    padding: 10px 0;
    margin-right: 25px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    display: inline-block; }

/*
 * And let's slide it in from the top
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none; }

/******************/
/*  HAMBURGER END */
/******************/
.full-screen > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: scroll; }
.full-screen > .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  .full-screen > .main > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-preferred-size: 100vw;
        flex-basis: 100vw; }
.full-screen .outer {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 2rem;
  line-height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.full-screen .inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  .full-screen .inner .title {
    margin-top: 50px;
    font-size: 2rem;
    padding: 0 0 25px 0 !important;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black; }
  .full-screen .inner a {
    color: tomato;
    white-space: nowrap;
    text-decoration: underline dashed  black;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip: ink; }
    .full-screen .inner a:visited {
      color: tomato;
      text-decoration: underline dashed black;
      -webkit-text-decoration-skip: ink;
              text-decoration-skip: ink; }
.full-screen .controls {
  position: absolute;
  text-decoration: none;
  color: black; }
  .full-screen .controls.up {
    text-align: center;
    top: 5px; }
  .full-screen .controls.right {
    right: 25px; }
  .full-screen .controls.left {
    left: 25px; }
  .full-screen .controls.down {
    bottom: 25px;
    text-align: center; }
.full-screen .vertical {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .full-screen .vertical .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100vw; }
    .full-screen .vertical .inner div {
      padding: 50px; }
.full-screen #home #hello div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.full-screen #about #banner {
  /*
  background-repeat: repeat, no-repeat,  no-repeat;
  background-size: 100px 100px, cover,  cover;
  background-position: top left, center center,  top center; */
  background-position: center center;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(img/bg-3072.jpg);
  /*
  @media screen and (min-width: 641px), (min-height: 428px){
    background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-1280.jpg);
  }
  @media screen and (min-width: 1281px), (min-height: 854px) {
    background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-1920.jpg);
  } 
  @media screen and (min-width: 1921px), (min-height: 1281px) {
    background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-3072.jpg);
  }
  @media screen and (min-width: 3071px ), (min-height: 2049px) {
    background-image: url(overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(bg-6048.jpg);
  } */ }
  .full-screen #about #banner .controls {
    text-shadow: 0 0 5px black; }
  .full-screen #about #banner .controls.left {
    color: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
.full-screen #about #me .controls {
  color: black; }
.full-screen #about #me .life-story {
  padding: 25px 50px 50px 50px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  max-width: 550px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.full-screen #projects #portfolio .work {
  overflow-y: scroll;
  padding: 0; }
  .full-screen #projects #portfolio .work .showcase {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px; }
    .full-screen #projects #portfolio .work .showcase .showcase-item {
      max-width: 600px;
      max-height: 400px;
      min-width: 300px;
      min-height: 200px;
      background-size: 200%;
      background-position: 0 center;
      border: 1px black solid;
      padding: 0;
      position: relative;
      line-height: 0;
      margin: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .full-screen #projects #portfolio .work .showcase .showcase-item span {
        height: 0;
        opacity: 0;
        background-position: 100% center;
        background-size: 200%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        -webkit-box-align: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .full-screen #projects #portfolio .work .showcase .showcase-item a {
        font-size: 1.2rem;
        color: white;
        height: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none;
        opacity: 0;
        margin-top: 50px; }
      .full-screen #projects #portfolio .work .showcase .showcase-item:hover span, .full-screen #projects #portfolio .work .showcase .showcase-item:active span {
        opacity: 1;
        height: auto;
        -webkit-transition: opacity 0.5s ease, height 0.5s ease;
        transition: opacity 0.5s ease, height 0.5s ease; }
      .full-screen #projects #portfolio .work .showcase .showcase-item:hover a, .full-screen #projects #portfolio .work .showcase .showcase-item:active a {
        -webkit-animation: grow 0.001ms forwards;
                animation: grow 0.001ms forwards;
        margin-top: 0; }
@-webkit-keyframes grow {
  from {
    height: 0;
    opacity: 0; }
  50% {
    height: 100%;
    opacity: 1; }
  to {
    height: 100%;
    opacity: 1; } }
@keyframes grow {
  from {
    height: 0;
    opacity: 0; }
  50% {
    height: 100%;
    opacity: 1; }
  to {
    height: 100%;
    opacity: 1; } }
      .full-screen #projects #portfolio .work .showcase .showcase-item#bark {
        background-image: url(img/bark.jpg); }
        .full-screen #projects #portfolio .work .showcase .showcase-item#bark span {
          background-image: url(img/bark.jpg); }
      .full-screen #projects #portfolio .work .showcase .showcase-item#x {
        background-image: url(img/x.jpg);
        background-position: 0 bottom; }
        .full-screen #projects #portfolio .work .showcase .showcase-item#x span {
          background-image: url(img/x.jpg);
          background-position: 100% bottom;
          color: black; }
      .full-screen #projects #portfolio .work .showcase .showcase-item#chloe {
        background-image: url(img/chloe.jpg); }
        .full-screen #projects #portfolio .work .showcase .showcase-item#chloe span {
          background-image: url(img/chloe.jpg); }
      .full-screen #projects #portfolio .work .showcase .showcase-item#tic {
        background-image: url(img/tic.jpg); }
        .full-screen #projects #portfolio .work .showcase .showcase-item#tic span {
          background-image: url(img/tic.jpg); }
      .full-screen #projects #portfolio .work .showcase .showcase-item#cp {
        background-image: url(img/cp.jpg); }
        .full-screen #projects #portfolio .work .showcase .showcase-item#cp span {
          background-image: url(img/cp.jpg); }
      .full-screen #projects #portfolio .work .showcase .showcase-item#aa {
        background-image: url(img/aa.jpg); }
        .full-screen #projects #portfolio .work .showcase .showcase-item#aa span {
          background-image: url(img/aa.jpg); }
      .full-screen #projects #portfolio .work .showcase .showcase-item#parkwoods {
        background-image: url(img/parkwoods.jpg); }
        .full-screen #projects #portfolio .work .showcase .showcase-item#parkwoods span {
          background-image: url(img/parkwoods.jpg); }
  .full-screen #projects #portfolio .work .in-touch {
    font-size: 1.3rem;
    text-align: center; }
.full-screen #projects #portfolio .controls.right {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 50px;
  color: black; }
.full-screen #contact #sms #hi {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.full-screen #contact #sms .controls.left {
  bottom: 25px;
  left: 40px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  color: black; }

/* ==========================================================================


Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
    *:before, *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster:
         http://www.sanbeiji.com/archives/953 */
      box-shadow: none !important;
      text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important;
    border: 1px solid #999;
    page-break-inside: avoid; }

  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Scrolling
   ========================================================================== */
:not(:target) div.full-screen .outer {
  -webkit-transform: translate(-100vw, -100%);
          transform: translate(-100vw, -100%); }

a[id="home"]:target ~ div.full-screen .outer {
  -webkit-transform: translate(-100vw, -100%);
          transform: translate(-100vw, -100%); }
a[id="about"]:target ~ div.full-screen .outer {
  -webkit-transform: translate(-300vw, -200%);
          transform: translate(-300vw, -200%); }
a[id="about"]:target ~ div.full-screen nav#primary-nav span {
  background: white; }
a[id="me"]:target ~ div.full-screen .outer {
  -webkit-transform: translate(-300vw, -300%);
          transform: translate(-300vw, -300%); }
a[id="projects"]:target ~ div.full-screen .outer {
  -webkit-transform: translate(0, -400%);
          transform: translate(0, -400%); }
a[id="contact"]:target ~ div.full-screen .outer {
  -webkit-transform: translate(-200vw, 0);
          transform: translate(-200vw, 0); }
