<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <style>{{{css}}}</style>
  <style media="print">{{{print}}}</style>
</head>
<body>
  <div class="resume-wrapper">
    <article class="paper">
      {{#resume.basics}}
        <header>
          <div class="header-content">
            {{#if picture}}
              <div class="header-pic">
                <img src="{{picture}}" class="pic" />
              </div>
            {{/if}}
            <div class="header-text">
              <p>
                {{name}}
              </p>
              <p class="subtitle">{{label}}</p>
            </div>
          </div>
        </header>
        <div class="content-wrapper">

          <!-- SUMMARY -->
          <section class="content">
            <div class="row">
              <div class="content-cat">
                About
              </div>
              <div class="content-text work-listing education-listing">
                    {{#if summary.length}}
                      {{#each summary}}
                        <p>{{.}}</p>
                      {{/each}}
                    {{/if}}

              </div>
            </div>
          </section>

          <!-- CONTACT -->
          <section class="content">
            <div class="row">
              <div class="content-cat">
                Contact
              </div>
              <div class="content-text">
                {{#if website}}
                  <ul>
                    <li>Website</li>
                    <li><a href="https://{{website}}">{{website}}</a></li>
                  </ul>
                {{/if}}
                {{#if email}}
                  <ul>
                    <li>Email</li>
                    <li><a href="mailto:{{email}}" "email me">{{email}}</a></li>
                  </ul>
                {{/if}}
                {{#if phone}}
                  <ul>
                    <li>Phone</li>
                    <li>{{phone}}</li>
                  </ul>
                {{/if}}
                {{#location}}
                    <ul>
                      <li>Based in</li>
                      <li>{{city}}, {{region}}</li>
                    </ul>
                {{/location}}
                {{#foreach profiles}}
                  <ul>
                    <li>{{network}}</li>
                    <li><a href="{{url}}">{{username}}</a></li>
                  </ul>
                {{/foreach}}
              </div>
            </div>
          </section>
      {{/resume.basics}}
        
          {{#if resume.education.length}}
            {{#foreach resume.education}}
              {{#if $first}}
                <section class="content">
              {{else}}
                <section class="content education-content">
              {{/if}}
                  <div class="row">
                    <div class="content-cat big-text">
                      {{#if $first}}
                        Education
                      {{/if}}
                      {{#if startDate}}
                        {{#if endDate}}
                          <p>{{startDate}} till {{endDate}}</p>
                        {{else}}
                          <p>{{startDate}} till today</p>
                        {{/if}}
                      {{/if}}
                    </div>
                    <div class="content-text work-listing education-listing">
                      {{#ifCond institution '||' title}}
                        {{#if $first}}
                          <p style="margin-top:2.4em;">
                        {{else}}
                          <p>
                        {{/if}}
                        {{#ifCond website '&&' institution}}
                          <strong>{{title}} {{studyType}}</strong>
                          at <strong><a href="{{website}}">{{institution}}:</a></strong>
                        {{else}}
                          {{#if institution.length}}
                            <strong>{{title}} {{studyType}}</strong>
                            at <strong>{{institution}}:</strong>
                          {{else}}
                            <strong>{{title}} {{studyType}}:</strong>
                          {{/if}}
                        {{/ifCond}}
                        </p>
                      {{/ifCond}}
                      {{#if summary}}
                        <p>{{summary}}</p>
                      {{/if}}
                      {{#if courses.length}}
                        {{#each courses}}
                          <p class="highlight">{{.}}</p>
                        {{/each}}
                      {{/if}}
                      {{#if highlights.length}}
                        {{#each highlights}}
                          <p class="highlight">{{.}}</p>
                        {{/each}}
                      {{/if}}
                    </div>
                  </div>
                </section>
            {{/foreach}}
          {{/if}}

          {{#if resume.work.length}}
            {{#foreach resume.work}}
              {{#if $first}}
                <section class="content">
              {{else}}
                <section class="content work-content">
              {{/if}}
                  <div class="row">
                    <div class="content-cat big-text">
                      {{#if $first}}
                        Work  Experience
                      {{/if}}
                      {{#if startDate}}
                        {{#if endDate}}
                          <p>{{startDate}} till {{endDate}}</p>
                        {{else}}
                          <p>{{startDate}} till today</p>
                        {{/if}}
                      {{/if}}
                    </div>
                    <div class="content-text work-listing education-listing">
                      {{#ifCond company '||' position}}
                        {{#if $first}}
                          <p style="margin-top:2.4em;">
                        {{else}}
                          <p>
                        {{/if}}
                        {{#ifCond website '&&' company}}
                          <strong>{{position}}</strong>
                          at <strong><a href="{{website}}">{{company}}</a></strong>
                            {{#if location.length}}
                              in {{location}}:

                            {{else}}
                              :
                            {{/if}}
                        {{else}}
                          {{#if company.length}}
                            <strong>{{position}}</strong>
                            at <strong>{{company}}</strong>
                            {{#if location.length}}
                              in {{location}}:

                            {{else}}
                            :
                            {{/if}}
                            
                          {{else}}
                            <strong>{{position}}:</strong>
                          {{/if}}
                        {{/ifCond}}
                        </p>
                      {{/ifCond}}
                      {{#if summary}}
                        <p>{{summary}}</p>
                      {{/if}}
                      {{#if highlights.length}}
                        {{#each highlights}}
                          <p class="highlight">{{.}}</p>
                        {{/each}}
                      {{/if}}
                    </div>
                  </div>
                </section>
            {{/foreach}}
          {{/if}}

          {{#if resume.skills.length}}
          <section class="content">
            <div class="row">
              <div class="content-cat">
                Skills
              </div>
              <div class="content-text skills-listing">
                {{#foreach resume.skills}}
                  <p>
                    <span class="name">
                      {{#if name}}
                        <strong>
                          {{name}}{{#if level}}{{else}}:{{/if}}
                        </strong>
                      {{/if}}
                    </span>
                    {{#if level}}
                      <span>({{level}}):</span>
                    {{/if}}
                    {{#if keywords.length}}
                      {{#commalist keywords}}{{.}}{{/commalist}}
                    {{/if}}
                  </p>
                {{/foreach}}
              </div>
            </div>
          </section>
          {{/if}}

          {{#if resume.projects.length}}
            {{#foreach resume.projects}}
              {{#if $first}}
                <section class="content">
              {{else}}
                <section class="content work-content">
              {{/if}}
                  <div class="row">
                    <div class="content-cat big-text">
                      {{#if $first}}
                        Projects
                      {{/if}}
                      {{#if startDate}}
                        {{#if endDate}}
                          <p>{{startDate}} till {{endDate}}</p>
                        {{else}}
                          <p>{{startDate}} till today</p>
                        {{/if}}
                      {{/if}}
                    </div>
                    <div class="content-text work-listing education-listing">
                      {{#ifCond title '||' role}}
                        {{#if $first}}
                          <p style="margin-top:2.4em;">
                        {{else}}
                          <p>
                        {{/if}}
                        {{#ifCond website '&&' title}}
                          <strong>{{role}}</strong>
                          at <strong><a href="{{website}}">{{title}}:</a></strong>
                        {{else}}
                          {{#if title.length}}
                            <strong>{{role}}</strong>
                            at <strong>{{title}}:</strong>
                          {{else}}
                            <strong>{{role}}:</strong>
                          {{/if}}
                        {{/ifCond}}
                        </p>
                      {{/ifCond}}
                      {{#if summary}}
                        <p>{{summary}}</p>
                      {{/if}}
                      {{#if highlights.length}}
                        {{#each highlights}}
                          <p class="highlight">{{.}}</p>
                        {{/each}}
                      {{/if}}
                    </div>
                  </div>
                </section>
            {{/foreach}}
          {{/if}}
          


          {{#if resume.awards.length}}
            {{#foreach resume.awards}}
              <section class="content">
                <div class="row">
                  <div class="content-cat big-text">
                    {{#if $first}}
                      Awards
                    {{/if}}
                    {{#if title}}
                      <p>{{title}}</p>
                    {{/if}}
                    {{#if date}}
                      <p style="margin-top:0.25em;">{{date}}</p>
                    {{/if}}
                  </div>
                  <div class="content-text work-listing">
                    {{#if awarder}}
                      <strong><p class="heading">{{awarder}}</p></strong>
                    {{/if}}
                    {{#if summary}}
                      <p class="highlight">{{summary}}</p>
                    {{/if}}
                  </div>
                </div>
              </section>
            {{/foreach}}
          {{/if}}



  <!-- LANGUAGE -->
          {{#if resume.languages.length}}
            <section class="content">
              <div class="row">
                <div class="content-cat">
                  Languages
                </div>
                <div class="content-text">
                  {{#each resume.languages}}
                    <ul>
                      {{#if language}}
                        <li>{{language}}</li>
                      {{/if}}
                      {{#if fluency}}
                        <li>{{fluency}}</li>
                      {{/if}}
                    </ul>
                  {{/each}}
                </div>
              </div>
            </section>
          {{/if}}
          {{#resume.basics}}
            <!-- PROFILES 
            {{#if profiles.length}}
              <section class="content profiles">
                <div class="row">
                  <div class="content-cat">
                    Profiles
                  </div>
                  <div class="content-text profiles-listing">
                    <ul>
                      {{#each profiles}}
                        {{#if network}}
                          <li>
                            <a href="{{url}}" target="_blank">
                              {{network}}
                            </a>
                          </li>
                        {{/if}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </section>
            {{/if}} -->
          {{/resume.basics}}
          <!--
          {{#if resume.interests.length}}
            <section class="content">
              <div class="row">
                <div class="content-cat">
                  Interests
                </div>
                <div class="content-text skills-listing">
                  {{#foreach resume.interests}}
                    <p>
                      <span class="name">
                        {{#if name}}
                          <strong>
                            {{name}}{{#if keywords.length}}:{{/if}}
                          </strong>
                        {{/if}}
                      </span>
                      {{#if keywords.length}}
                        {{#commalist keywords}}{{.}}{{/commalist}}
                      {{/if}}
                    </p>
                  {{/foreach}}
                </div>
              </div>
            </section>
          {{/if}} -->

        </div>
    </article>
  </div>
</body>
</html>
