body {
	font-family: courier new, courier, monospace;
	font-size: 0.9rem;
	line-height: 1.2rem;
}

a:visited {
	color:blue;
}

h1 {
	margin: 0;
}

h2 {
	margin:0;
	font-weight: normal;
	font-size: 1rem
}

h3 {
	margin:0;
	font-weight: normal;
	font-size: 0.9rem;
}

div	{
/*	outline:1px solid black; */
	    outline-offset: -10px;
}

header {
	padding:30px;
	line-height: 1.5rem;
	width: calc(100vw - 60px);

}
header:before,
header:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

header:after {
  clear: both;
}

header title {
	font-size:1.5rem;
	font-family: courier new, courier, monospace;
	font-weight: bold; 
}

header a {
	display: block;

	text-decoration: none;
}



#details {
	width: 250px;
	height: calc(9rem + 10px);
	float: left;
}

#details div {
	width: fit-content;
	outline: 1px solid black;
    outline-offset: 10px;
}


#profile {
	vertical-align: top;

}

#profile ul {
	margin: 0;
}

.content {
	padding: 30px;
	outline: none;
	clear:right;
}

.section {
	outline-offset: 10px;
	padding:5px;
	margin-bottom: 30px;
	vertical-align: top;
	display: inline-block;
}

.section h1 {
	margin-bottom:20px;
}

#education, #skills {
	width: calc(50vw - 40px);
}

#skills {
	float: right;
}

.section ul {
}

.section div {
    margin: 15px 0 0px 15px;
    outline-offset: 10px;
    width: fit-content;
}

.sub-section {
	outline-offset: 10px;
}

.redder { /* red+bold highlights */
	font-weight: bold;
	color: red;
}

@media only screen and (max-width: 815px) {
	#details {
		width: fit-content;
		margin: 0 auto;
		float: none;
	}
	#details br {
		display: none;
	}

	#profile {
		margin: 20px auto;
		width: fit-content;
	}

	#profile ul {
		padding: 0 20px 0 20px;
	}
}

@media only screen and (max-width: 700px) {
	.section {
		width: calc(100vw - 60px);
	}
	#education, #skills {
	width: calc(100vw - 60px);


}
}

