html {
    height:100vh;
    padding-bottom:80px;
}

body {
    background-image: url(../img/bgcopy.jpg); /* Chrome 1.0+ Safari 3.0+ */ /* Firefox 3.6+ */ /* Opera 10.0+ */
    background-size: cover; /* Chrome 4.0+ IE 9+ Firefox 4.0+ Safari 4.1+ Opera 10.5+ */
    margin: 0px;
    overflow:hidden;
}

#body:target {
    background-image: url();

}




#img {
    background-image: url('../img/title.png');
    background-position: 0px 0px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 358px;
    height: 117px;
    font: 0/0 a;
    -webkit-transform: translate(-50%, -50%); /* Chrome 4.0+ Safari 3.2+ Opera 15.0+ */ /* Firefox 3.5+ */ /* Opera 10.5+ */ /* IE 9+ */
    transform: translate(-50%, -50%); /* Chrome 36.0+ IE 10+ Firefox 16.0+ Opera 12.1+ */
}


#img:hover {
    background-position: -358px 0px;
}



/* FIX THANKYOU ALIGNMENT */


#bark,
#bark:after {
    margin:0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    list-style-type: none;
}

#bark:target li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 60s linear 1 0s;
    animation: imageAnimation 60s linear 1 0s;
}



#bark div#thankpic {
    background-image: url(../img/end.png);
    display: block;
    position: absolute;
    height: 360px;
    width: 358px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



#bark div#thank {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;

}

#bark:target div#thank {
    animation: thankAnimation 6s linear 90s 0.5 forwards;
    -webkit-animation: thankAnimation 6s linear 90s 0.5 forwards;
    -moz-animation: thankAnimation 6s linear 90s 0.5 forwards;
    -o-animation: thankAnimation 6s linear 90s 0.5 forwards;
}
#bark li:nth-child(1) span {
    background-image: url(../img/1.jpg)
}
#bark li:nth-child(2) span {
    background-image: url(../img/2.jpg);
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
#bark li:nth-child(3) span {
    background-image: url(../img/3.jpg);
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
#bark li:nth-child(4) span {
    background-image: url(../img/4.jpg);
    -webkit-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
#bark li:nth-child(5) span {
    background-image: url(../img/5.jpg);
    -webkit-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
#bark li:nth-child(6) span {
    background-image: url(../img/6.jpg);
    -webkit-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
#bark li:nth-child(7) span {
    background-image: url(../img/7.jpg);
    -webkit-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}
#bark li:nth-child(8) span {
    background-image: url(../img/8.jpg);
    -webkit-animation-delay: 42s;
    -ms-animation-delay: 42s;
    animation-delay: 42s;
}
#bark li:nth-child(9) span {
    background-image: url(../img/9.jpg);
    -webkit-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s;
}
#bark li:nth-child(10) span {
    background-image: url(../img/10.jpg);
    -webkit-animation-delay: 54s;
    -ms-animation-delay: 54s;
    animation-delay: 54s;
}

#bark li:nth-child(11) span {
    background-image: url(../img/11.jpg);
    -webkit-animation-delay: 60s;
    -ms-animation-delay: 60s;
    animation-delay: 60s;
}

#bark li:nth-child(12) span {
    background-image: url(../img/12.jpg);
    -webkit-animation-delay: 66s;
    -ms-animation-delay: 66s;
    animation-delay: 66s;
}

#bark li:nth-child(13) span {
    background-image: url(../img/13.jpg);
    -webkit-animation-delay: 72s;
    -ms-animation-delay: 72s;
    animation-delay: 72s;
}

#bark li:nth-child(14) span {
    background-image: url(../img/14.jpg);
    -webkit-animation-delay: 78s;
    -ms-animation-delay: 78s;
    animation-delay: 78s;
}


@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    4% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    22% { opacity: 1 }
    24% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
    4% { opacity: 1;
       -webkit-animation-timing-function: ease-out;
               animation-timing-function: ease-out; }
    20% { opacity: 1 }
    24% { opacity: 0 }
    100% { opacity: 0 }
}


@-webkit-keyframes thankAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    50% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes thankAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
    50% { opacity: 1 }
    100% { opacity: 1 }
}



