html {
    height: 100vh;
}


body {
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0px;
    background-size: cover;
    background-image: url('../img/bg.png');
    height:200px;
    width: 100%;
    z-index: -9999;
}



#img {
    background-image: url('../img/title.png');
    background-position: 0px 0px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    font: 0/0 a;
    -webkit-transform: translate(-50%, -50%); /* Chrome 4.0+ Safari 3.2+ Opera 15.0+ */ /* Firefox 3.5+ */ /* Opera 10.5+ */ /* IE 9+ */
    transform: translate(-50%, -50%); /* Chrome 36.0+ IE 10+ Firefox 16.0+ Opera 12.1+ */
}


#img:hover {
    background-position: -180px 0px;
}



/* FIX THANKYOU ALIGNMENT */


#x,
#x:after {
    margin:0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    list-style-type: none;
}

#x:target li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 60s linear 1 0s;
    animation: imageAnimation 60s linear 1 0s;
}



#x div#thankpic {
    background-image: url(../img/end.png);
    display: block;
    position: absolute;
    height: 360px;
    width: 250px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}



#x div#thank {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;

}


#x:target div#thank {
    animation: thankAnimation 6s linear 26s 0.5 forwards;
    -webkit-animation: thankAnimation 6s linear 26s 0.5 forwards;
    -moz-animation: thankAnimation 6s linear 26s 0.5 forwards;
    -o-animation: thankAnimation 6s linear 26s 0.5 forwards;
}
#x li:nth-child(1) span {
    background-image: url(../img/1.jpg)
}
#x li:nth-child(2) span {
    background-image: url(../img/2.jpg);
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
#x li:nth-child(3) span {
    background-image: url(../img/3.jpg);
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}


@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    4% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    22% { opacity: 1 }
    24% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
    4% { opacity: 1;
       -webkit-animation-timing-function: ease-out;
               animation-timing-function: ease-out; }
    20% { opacity: 1 }
    24% { opacity: 0 }
    100% { opacity: 0 }
}


@-webkit-keyframes thankAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    50% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes thankAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
    50% { opacity: 1 }
    100% { opacity: 1 }
}



